.formSearch {
  background: $color3;
  width: 100%;
  margin: 0 auto;
  padding: 70px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $RobotoRegular;
}
label {
  margin-bottom: 7px;
}

.adu,
input,
.debut,
.fin,
.enfants,
.select,
.confirmation,
.typeChambre {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

#envoi {
  padding: 23px;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  line-height: 7px;
  background: $color2;
  &:hover {
    background: $color1;
  }
}

.debut,
.fin,
.confirmation,
.adu,
.enfants,
.room {
  display: flex;
  flex-direction: column;
}
