* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//polices de caractères
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: "font-2";
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-family: "font-3";
  src: url(../assets/fonts/Roboto-Black.ttf);
}

$RobotoRegular: "font-1", sans-serif;
$RobotoMedium: "font-2", sans-serif;
$RobotoBlack: "font-3", sans-serif;

$color1: #f56a11;
$color2: #2d3669;
$color3: #8baecc;
$white: #f1f1f1;

li {
  list-style-type: none;
}

*:focus {
  outline: 0;
  border: none;
}
