*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');


$color1 : #F56A11;
$color2 : #444585;
$color3 : #8BAECC;
$white: #f1f1f1;


$RobotoGras: 'Roboto'

