@import "./settings";
@import "../components/navigation/nav";
@import "../components/SearchBar/search.scss";
@import "../pages/home/home";
@import "../components/SelectBar/selectBar.scss";
@import "../pages/search/search.scss";
@import "../components/pays/pays";
@import "../components/Card/card";
@import "../components/Criteres/criteresRecherche";

.App {
  background: $white;
  width: 100vw;
  height: 150vh;
}
