.card {
  position: relative;
  height: 750px;
  width: 300px;
  // border-radius: 4px;
  margin: 0 auto;
  border-radius: 20px 0px 20px 0px;
  font-family: $RobotoRegular;
  border: 4px solid $color3;
  box-shadow: 0px 30px 20px -25px rgba(0, 0, 0, 0.362);
  background: white;

  img {
    width: 100%;
    border-top-left-radius: 15px;
  }
  .nomHotel {
    text-align: left;
    font-size: 1.4rem;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 35px;
    color: $color2;
    line-height: 37px;
  }
  .containerTxt {
    padding: 15px;
    text-align: left;
    .descr {
      font-size: 0.8rem;
      margin-top: 5px;
      font-family: $RobotoRegular;
      line-height: 18px;
      color: $color2;
    }
    .slogan {
      color: $color3;
      margin-bottom: 15px;
    }
  }
  .containerAdress {
    position: absolute;
    background: $color2;
    width: 100%;
    height: 130px;
    bottom: 0;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h5 {
      font-size: 1rem;
      color: $white;
      line-height: 25px;
    }
  }
}

.voirChambres {
  position: absolute;
  right:50px;
  left:37px;
  bottom:150px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 25px;
  width: 75%;
  background: $color3;

  
}
.price{
  position:absolute;
  left: 90px;
  bottom:210px;
  font-family: $RobotoRegular;
  margin:0 auto;
  background-color: $color1 ;
  margin-top: 20px;
  width:fit-content;
  color:white;
  border-radius: 10px;
  text-align: right;
  padding:5px;
  font-weight: 500;
}